# Review of *Automate the Boring Stuff* Chapter 4: Lists

Lists are a basic data type (similar to arrays in other languages). Lists are exactly what they sound like, a list of values, and the values can have any (or mixed) datatypes.

In [1]:
# create a sample list 
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

### Indexing Lists
Lists values have indices, and the values in a list can be called by their index. Remember that indices start at zero! To start with, just like we have `str()`, `int()`, and `float()` functions to turn values into their respective datatypes, we have a `list()` function to turn values into a list. This is incredibly useful when making lists of alphabetic strings.

In [2]:
# create a new list from the first 12 letters
my_list2 = list('abcdefghijkl')
my_list2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [3]:
# called the value at index 1
my_list2[1]

'b'

In [4]:
# call the values between indicies 2 and 6
my_list2[2:7]    # we use index 7 as the upper limit because the upper limit is not inclusive

['c', 'd', 'e', 'f', 'g']

In [5]:
# all values before index 4
my_list2[:4]

['a', 'b', 'c', 'd']

In [6]:
# all values after index 6 (inclusive of index 6)
my_list2[6:]

['g', 'h', 'i', 'j', 'k', 'l']

In [7]:
# negative values count from the end of the list instead
my_list2[-5:-2]

['h', 'i', 'j']

The way I remember list indexes is the same as the way I remember how to use the range function. The upper limit is the number of values returned (if you start at 0). 

Lists are a **mutable** datatype, meaning we can change the value of a list at a specific index.

In [8]:
# show my_list
my_list

[1, 2, 3, 4]

In [9]:
# change 3 to 'three'
my_list[2] = 'three'
my_list

[1, 2, 'three', 4]

In [10]:
# change 4 to another list
my_list[3] = [5, 6, 7]
my_list

[1, 2, 'three', [5, 6, 7]]

### List Concatentation and Replication
Just like with strings, we can use the `+` and `*` operators to perform concatenation and replication operations on lists.

In [11]:
# concatenate two lists
print(my_list + my_list2)

[1, 2, 'three', [5, 6, 7], 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [12]:
# replicate a list 
print(my_list2[0:4] * 3)

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

### Functions, Loops and Operators with Lists
Two functions/statements that we commonly use with lists are `len()` and `del`, to give the length of, and remove a value from a list, respectively. When looping through lists, `for` loops work very well, since lists are an iterable datatype. Finally, we can use the `in` and `not in` operators to determine if a value is in a list or not.

In [13]:
# length of a list
len(my_list2)

12

In [14]:
# remove the list from my_list with a del statement
del my_list[3]
my_list

[1, 2, 'three']

In [15]:
my_list

[1, 2, 'three']

In [16]:
# for loop with a list
for letter in my_list2:
    print('My letter is: ' + letter)

My letter is: a
My letter is: b
My letter is: c
My letter is: d
My letter is: e
My letter is: f
My letter is: g
My letter is: h
My letter is: i
My letter is: j
My letter is: k
My letter is: l

In [17]:
# check if 'c' is in my_list2
'c' in my_list2

True

In [18]:
# check if 3 is in my_list
3 in my_list

False

In [19]:
'three' in my_list

True

### List Methods
Here, we'll demonstrate some basic methods for working with lists.

In [20]:
# add a value to the end of a list
my_list.append('four')
print(my_list)

[1, 2, 'three', 'four']

In [21]:
# find the index of a value
print('The index for value c is: ' + str(my_list2.index('c')))

The index for value c is: 2

In [22]:
# create a new list
my_list3 = ['dog', 'cat', 'bird', 'elephant']
print(my_list3)

['dog', 'cat', 'bird', 'elephant']

In [23]:
# insert a new element at index 1, pushing all other elements back
my_list3.insert(1, 'panda')
print(my_list3)

['dog', 'panda', 'cat', 'bird', 'elephant']

In [24]:
# remove a value from a list
my_list3.remove('bird')
print(my_list3)

['dog', 'panda', 'cat', 'elephant']

In [25]:
import random
random.shuffle(my_list2)
print(my_list2)

['l', 'a', 'k', 'f', 'i', 'h', 'j', 'b', 'd', 'e', 'g', 'c']

In [26]:
# order or sort a list
my_list2.sort()
print(my_list2)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [27]:
# sort it in reverse
my_list2.sort(reverse=True)
print(my_list2)

['l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

The `.sort()` method only works for lists of a single datatype. Mixed-type lists aren't able to be sorted, and will return an error. Also, the list is sorted by [ASCII](http://www.asciitable.com/) order, so all capital letters will come before any lowercase letters. To sort by alphabetical order, use the `key=str.lower` keyword.

In [28]:
# create a list and sort by ASCII
my_list4 = list('DyKcegUsZ')
my_list4.sort()
print(my_list4)

['D', 'K', 'U', 'Z', 'c', 'e', 'g', 's', 'y']

In [29]:
# sort by alphabetical order
my_list4.sort(key=str.lower)
print(my_list4)

['c', 'D', 'e', 'g', 'K', 's', 'U', 'y', 'Z']

### Tuples
Tuples are a datatype similar to lists, but they are immutable. That means you can't change the values in a tuple once it's created. Tuples are denoted parentheses instead of brackets. You can create a tuple from a list using the `tuple()` function, and a list from a tuple using the `list()` function.

### Augmented Assignment
When reassigning a value to a variable, you frequently want to use the current variable. The shortcuts for typing this are the augmented assignment operators:

| Augmented Assignment Statement | Equivalent using Augmented Assignment Operator | 
|:---:|:---:|
| x = x + 1 | x += 1 |
| x = x - 1 | x -= 1 |
| x = x * 1 | x \*= 1 |
| x = x / 1 | x /= 1 |
| x = x % 1 | x %= 1 |

### Multiple Assignment
In python, you're able to assign variables one by one, or you can use multiple assignment.

In [30]:
a, b, = 4, 9

In [31]:
a

4

This pairs especially well with lists.

In [32]:
x, y, z, w = my_list3[:]
print(z)

cat

The above assigns each variable to a value in `my_list3`. The `:` operator in `my_list3` just stands for return all of the values. We need to put that there so we don't set four variables equal to the list itself.

### List IDs and References
This is a fairly complicated topic. Since lists can take up a decent amount of space in memory, when you assign a variable to list, and another variable to the same list, they actually both referene the same object in memory. For example

In [33]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
list2 = list1

Now, `list1` and `list2` can be referenced separately, but they actually both refer to the same object. If you change a value in `list1`, it will be reflected in `list2` as well.

In [35]:
list1[2] = 'three'

In [36]:
print(list2)

[1, 2, 'three', 4, 5, 6, 7, 8, 9, 10]

The way we can check that these two functions actually point to the same thing is by using the `id()` built-in function.

In [37]:
id(list1)

81475400

In [38]:
id(list2)

81475400

Because these two IDs are the same, they refer to the same object. What if we want to make a copy of a list? We can use the `copy` module to do so.

In [39]:
import copy

In [40]:
list3 = copy.copy(list1)

In [41]:
list3[2] = 3

In [42]:
print(list1)
print(list3)

[1, 2, 'three', 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
print(id(list1))
print(id(list3))

81475400
81504648

Both of these previous cells demonstrate that these are actually separate objects. The one challenge here is that if you have a list that contains other lists, you need to use the `copy.deepcopy()` function to copy both the top-level list, and the other lists that it contains.